# Importando as bibliotecas a serem usadas
## dataset usado: <link>

In [77]:
import pandas as pd
import numpy as np

# Leitura do Dataset

In [82]:
df = pd.read_csv('Incidentes-Brasil.csv', sep=';')
df.head()

    Ano        Mes  Total  Worm    DOS  Invasao   Web   Scan  Fraude  Outros
0  2019    Janeiro  62481  7796   4191       19  2594  46038    1744      99
1  2019  Fevereiro  70069  7707   2192       27  4179  54401    1459     104
2  2019      Março  85409  4476  29309       19  2006  47966    1521     112
3  2019      Abril  59900  7624   2718       37  1555  45774    2119      73
4  2019       Maio  52129  6555  15773       74  1425  25521    2633     148

# Entendendo meu Dataset

In [83]:
df.shape

(120, 10)

In [84]:
df.isna().any()

Ano        False
Mes        False
Total      False
Worm       False
DOS        False
Invasao    False
Web        False
Scan       False
Fraude     False
Outros     False
dtype: bool

In [85]:
df.describe() # Verificando os valores agregados do meu dataset

,Ano,Total,Worm,DOS,Invasao,Web,Scan,Fraude,Outros
count,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000
mean,2014.500000,51360.641667,3448.166667,8261.991667,265.675000,2855.583333,24064.991667,9184.675000,3279.558333
std,2.884324,38427.807026,2357.209104,27204.101583,391.464524,2396.054371,13109.143640,17528.364123,6239.560820
min,2010.000000,8223.000000,865.000000,0.000000,1.000000,402.000000,2920.000000,1459.000000,30.000000
25%,2012.000000,30145.500000,1836.250000,13.000000,22.750000,1329.750000,13255.000000,3294.250000,240.750000
50%,2014.500000,47623.000000,2862.000000,210.500000,103.500000,2001.500000,23249.500000,5324.000000,1141.500000
75%,2017.000000,58682.250000,4146.500000,5955.750000,374.500000,3534.250000,32565.750000,7815.750000,3489.750000
max,2019.000000,257618.000000,12871.000000,207780.000000,2149.000000,12169.000000,60890.000000,130108.000000,32746.000000

# Gerando as Visualizações

In [87]:
somaWorm = df.groupby('Ano')['Worm'].sum() # soma os casos de incidentes Worm de cada ano
print(somaWorm)

Ano
2010     17628
2011     26897
2012     38466
2013     27979
2014     42191
2015     47722
2016     28248
2017     45101
2018     39071
2019    100477
Name: Worm, dtype: int64